h1 {
  font-weight: bold;
}

img {
  height: auto;
  width: 555px;
}

.error {
  display: none;
  color: red;
}

.jumbotron {
  text-align: center;
}


#cssDesign {
  display: none;
}

#javaAndroid {
  display: none;
}

#rubyRails {
  display: none;
}

#intro {
  display: none;
}
