h1 {
  font-weight: bold;
}

img {
  height: auto;
  width: 555px;
}

label {
  margin-top: 30px;
  font-size: 1.1em
}

button {
  margin: 15px;
}

.container{
  margin-bottom: 20px;
}

.error {
  display: none;
  color: red;
}

.jumbotron {
  text-align: center;
}



#cssDesign {
  display: none;
}

#javaAndroid {
  display: none;
}

#rubyRails {
  display: none;
}

#intro {
  display: none;
}
