h1 {
  font-weight: bold;
}

img {
  height: auto;
  width: 555px;
}

label {
  margin-top: 15px;
  font-size: 1.05em
}

button {
  margin: 15px;
}

h2.modal-title {
  text-align: center;
  font-weight: bold;
}

.container{
  margin-bottom: 15px;
  padding-bottom: 25px;
  background-color: lightblue;
}

.error {
  display: none;
  color: red;
}

.jumbotron {
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
  background-image: url(../img/roadFork.jpg);
  background-size: auto;
}


#cssDesign {
  display: none;
}

#javaAndroid {
  display: none;
}

#rubyRails {
  display: none;
}

#intro {
  display: none;
}
